Composite.tabActive {
  border: 1px solid #ffffff;
  border-radius: 5px 5px 0px 0px;
  background-color: rgb( 255, 255, 255 );
}

Composite.tabInactive {
  border: 1px solid #ffffff;
  border-radius: 5px 5px 0px 0px;
  background-color: rgb( 255, 255, 255 );
}

Composite.inactiveButton {
  background-color: transparent;
  border: none;
}