/* DateTime */

DateTime {
  border: 1px solid #a4a4a4;
  padding: 1px 2px;
  font: 11px Verdana, "Lucida Sans", Arial, Helvetica, sans-serif;
  border-radius: 2px 2px 2px 2px;
  color: #4a4a4a;
  background-color: rgb( 252, 252, 252 );
}

DateTime-Calendar-Day:hover {
  background-color: #e9f3d2;
}

DateTime-Calendar-Navbar {
  background-color: #abe033;
  color: white;
  font: bold 11px Verdana, "Lucida Sans", Arial, Helvetica, sans-serif;
}

DateTime-Calendar-PreviousMonthButton {
  background-image: url( theme/fancy/icons/lastMonth.png );
}

DateTime-Calendar-PreviousMonthButton:hover {
  background-image: url( theme/fancy/icons/lastMonth-hover.png );
}

DateTime-Calendar-NextMonthButton {
  background-image: url( theme/fancy/icons/nextMonth.png );
}

DateTime-Calendar-NextMonthButton:hover {
  background-image: url( theme/fancy/icons/nextMonth-hover.png );
}

DateTime-Calendar-PreviousYearButton {
  background-image: url( theme/fancy/icons/lastYear.png );
}

DateTime-Calendar-PreviousYearButton:hover {
  background-image: url( theme/fancy/icons/lastYear-hover.png );
}

DateTime-Calendar-NextYearButton {
  background-image: url( theme/fancy/icons/nextYear.png );
}

DateTime-Calendar-NextYearButton:hover {
  background-image: url( theme/fancy/icons/nextYear-hover.png );
}

DateTime-DownButton-Icon {
  background-image: url( theme/fancy/icons/down.png );
}

DateTime-DownButton-Icon:hover {
  background-image: url( theme/fancy/icons/down-hover.png );
}

DateTime-DownButton {
  background-color: transparent;
  background-image: gradient(
    linear, left top, left bottom,
    from( #e0e0e0 ),
    to( #ffffff )
  );
  width: 18px;
  border: none;
  border-radius: 0px 0px 2px 0px;
}

DateTime-DownButton:pressed {
  background-image: gradient(
    linear, left top, left bottom,
    from( #b0b0b0 ),
    color-stop( 52%, #e0e0e0 ),
    to( #ffffff )
  );
}

DateTime-UpButton-Icon {
  background-image: url( theme/fancy/icons/up.png );
}

DateTime-UpButton-Icon:hover {
  background-image: url( theme/fancy/icons/up-hover.png );
}

DateTime-UpButton {
  background-color: transparent;
  background-image: gradient(
    linear, left top, left bottom,
    from( #ffffff ),
    to( #e0e0e0 )
  );
  width: 18px;
  border: none;
  border-radius: 0px 2px 0px 0px;
}

DateTime-UpButton:pressed {
  background-image: gradient(
    linear, left top, left bottom,
    from( #ffffff ),
    color-stop( 52%, #e0e0e0 ),
    to( #b0b0b0 )
  );
}

DateTime-DropDownButton-Icon {
  background-image: url( theme/fancy/icons/down.png );
}

DateTime-DropDownButton-Icon:hover {
  background-image: url( theme/fancy/icons/down-hover.png );
}

DateTime-DropDownButton {
  background-color: transparent;
  border: none;
  border-radius: 0px 2px 2px 0px;
  background-image: gradient(
    linear, left top, left bottom,
    from( #ffffff ),
    color-stop( 48%, #f0f0f0 ),
    color-stop( 52%, #e0e0e0 ),
    to( #cccccc )
  );
  width: 18px;
}

DateTime-Field:selected, DateTime-Calendar-Day:selected {
  background-color: #D2D2D2;
  color: #4a4a4a;
}

DateTime-Calendar-Day:selected:hover {
  background-color: #abe033;
  color: white;
}

DateTime-Calendar-Day:otherMonth {
  background-color: transparent;
  color: rgb( 128, 128, 128 );
}