/* List */

List {
  background-color: #ffffff;
  color: #4a4a4a;
}

List-Item {
  background-color: #ffffff;
  color: #4a4a4a;
}

List-Item:hover {
  background-color: #e9f3d2;
}

List-Item:selected {
  background-color: #abe033;
  color: #ffffff;
}

List-Item:selected:unfocused {
  background-color: #959595;
  color: #ffffff;
}

List-Item:even {
  background-color: #f3f3f4;
}

List-Item:even:hover {
  background-color: #e9f3d2;
}

List-Item:even:selected {
  background-color: #abe033;
  color: #ffffff;
}

List-Item:even:selected:unfocused {
  background-color: #959595;
  color: #ffffff;
}