Shell.toolbarLayer {
  background-color: rgb( 255, 255, 255 );
  border: none;
}

Shell-DisplayOverlay.confDialog {
  animation: fadeIn 150ms linear, fadeOut 400ms ease-out;
  background-image: none;
  background-color: #999999;
  opacity: 0.5;
}