/* Tree */

Tree {
  background-color: rgb( 255, 255, 255 );
  border: none;
  color: #4a4a4a;
}

TreeItem {
  background-color: rgb( 255, 255, 255 );
  color: #4a4a4a;
}

TreeItem:selected {
  background-color: #abe033;
  color: #ffffff;
}

TreeItem:selected:unfocused {
  background-color: #959595;
  color: #ffffff;
}

TreeColumn {
  background-image: url( "theme/fancy/icons/table-column.png" );
  font: 12px Verdana, "Lucida Sans", Arial, Helvetica, sans-serif;
  border-bottom:none;
  padding: 1px 2px;
}

TreeColumn:hover {
  background-image: url( "theme/fancy/icons/table-column-hover.png" );
  border-bottom:none;
}

TreeColumn-SortIndicator {
  background-image: none;
}

TreeColumn-SortIndicator:up {
  background-image: url( theme/fancy/icons/sort-indicator-up.png );
}

TreeColumn-SortIndicator:down {
  background-image: url( theme/fancy/icons/sort-indicator-down.png );
}