/* Button default theme */

Button {
  background-image: none;
  color: black;
  padding: 4px 5px;
  spacing: 2px;
}

Button[PUSH], Button[TOGGLE] {
  background-color: rgb( 247, 247, 251 );
  border: 1px outset;
  font: 11px 'Segoe UI', Corbel, Calibri, Tahoma, 'Lucida Sans Unicode', sans-serif;
  padding: 5px 6px;
}

Button[PUSH][FLAT], Button[TOGGLE][FLAT] {
  border: 1px black;
  padding: 5px 6px;
}

Button[PUSH][BORDER], Button[TOGGLE][BORDER] {
  border: 2px outset;
}

Button[PUSH]:hover, Button[TOGGLE]:hover {
  background-color: rgb( 251, 251, 254 );
}

Button[PUSH]:pressed, Button[TOGGLE]:pressed, Button[TOGGLE]:selected {
  border: 1px inset;
  padding: 4px 3px 2px 5px;
}

Button[PUSH][FLAT]:pressed, Button[TOGGLE][FLAT]:pressed, Button[TOGGLE][FLAT]:selected {
  background-color: rgb( 225, 225, 230 );
  padding: 5px 6px;
}

Button[PUSH][BORDER]:pressed, Button[TOGGLE][BORDER]:pressed {
  border: 2px inset;
}

Button[CHECK], Button[RADIO] {
  spacing: 4px;
}

Button-CheckIcon {
  background-image: url( resource/widget/rap/button/check-unselected.png );
}

Button-CheckIcon:hover {
  background-image: url( resource/widget/rap/button/check-unselected-hover.png );
}

Button-CheckIcon:selected {
  background-image: url( resource/widget/rap/button/check-selected.png );
}

Button-CheckIcon:selected:hover {
  background-image: url( resource/widget/rap/button/check-selected-hover.png );
}

Button-CheckIcon:selected:grayed {
  background-image: url( resource/widget/rap/button/check-grayed.png );
}

Button-CheckIcon:selected:grayed:hover {
  background-image: url( resource/widget/rap/button/check-grayed-hover.png );
}

Button-RadioIcon {
  background-image: url( resource/widget/rap/button/radio-unselected.png );
}

Button-RadioIcon:hover {
  background-image: url( resource/widget/rap/button/radio-unselected-hover.png );
}

Button-RadioIcon:selected {
  background-image: url( resource/widget/rap/button/radio-selected.png );
}

Button-RadioIcon:selected:hover {
  background-image: url( resource/widget/rap/button/radio-selected-hover.png );
}
