/* Sash default theme */

Sash {
  border: none;
}

Sash[BORDER] {
  border: 1px solid #a4a4a4;
}

Sash-Handle {
  background-image: none;
}

Sash-Handle:horizontal {
  background-image: none;
}

Sash-Handle:vertical {
  background-image: none;
}