/* List default theme */

List {
  background-color: white;
  border: none;
  color: #4a4a4a;
}

List[BORDER] {
  border: 1px inset;
}

List-Item {
  background-color: transparent;
  color: inherit;
  background-image: none;
}

List-Item:hover {
  background-color: #dae9f7;
}

List-Item:selected {
  color: white;
  background-color: #00589f;
  background-image: gradient(
    linear, left top, left bottom,
    from( #0078Bf ),
    to( #00589f )
  );
}

List-Item:selected:unfocused {
  background-color: #959595;
  color: white;
}

List-Item:even {
  background-color: #f3f3f4;
}

List-Item:even:hover {
  background-color: #dae9f7;
}

List-Item:even:selected {
  color: white;
  background-color: #00589f;
  background-image: gradient(
    linear, left top, left bottom,
    from( #0078Bf ),
    to( #00589f )
  );
}

List-Item:even:selected:unfocused {
  background-color: #959595;
  color: white;
}