/* DateTime default theme */

DateTime {
  border: none;
  background-color: white;
  color: black;
}

DateTime-Field {
  padding: 2px 3px;
}

DateTime[BORDER] {
  border: 1px inset;
}

DateTime-Field:selected, DateTime-Calendar-Day:selected, DateTime-Calendar-Day:selected:hover {
  background-color: rgb( 49, 106, 197 );
  color: white;
}

DateTime-Calendar-Day:selected:unfocused {
  background-color: rgb( 192, 192, 192 );
}

DateTime-Calendar-Day:otherMonth {
  background-color: transparent;
  color: rgb( 128, 128, 128 );
}

DateTime-Calendar-Day:hover {
  background-color: rgb( 217, 227, 243 );
}

DateTime-Calendar-Navbar {
  border: none;
  background-color: rgb( 0, 128, 192 );
  color: white;
  font: bold 11px 'Segoe UI', Corbel, Calibri, Tahoma, 'Lucida Sans Unicode', sans-serif;
}

DateTime-Calendar-PreviousMonthButton {
  background-image: url( resource/widget/rap/calendar/lastMonth.gif );
  cursor: default;
}

DateTime-Calendar-NextMonthButton {
  background-image: url( resource/widget/rap/calendar/nextMonth.gif );
  cursor: default;
}

DateTime-Calendar-PreviousYearButton {
  background-image: url( resource/widget/rap/calendar/lastYear.gif );
  cursor: default;
}

DateTime-Calendar-NextYearButton {
  background-image: url( resource/widget/rap/calendar/nextYear.gif );
  cursor: default;
}

DateTime-UpButton, DateTime-DownButton {
  background-color: rgb( 248, 248, 255 );
  border: 2px outset;
  width: 15px;
  cursor: default;
}

DateTime-UpButton:pressed, DateTime-DownButton:pressed {
  border: 2px inset;
}

DateTime-UpButton {
  /* 
  For backward compatibility we have to keep the up button icon
  definition in DateTime-UpButton and not in DateTime-UpButton-Icon
  */
  background-image: url( resource/widget/rap/datetime/up_button.gif );
}

DateTime-DownButton {
  /* 
  For backward compatibility we have to keep the down button icon
  definition in DateTime-DownButton and not in DateTime-DownButton-Icon
  */
  background-image: url( resource/widget/rap/datetime/down_button.gif );
}

DateTime-DropDownButton {
  /* 
  For backward compatibility we have to keep the drop-down button icon
  definition in DateTime-DropDownButton and not in DateTime-DropDownButton-Icon
  */
  background-image: url( resource/widget/rap/datetime/drop_down_button.gif );
  background-color: rgb( 248, 248, 255 );
  border: 1px outset;
  width: 15px;
  cursor: default;
}

DateTime-UpButton-Icon, DateTime-DownButton-Icon, DateTime-DropDownButton-Icon {
  background-image: none;
}

DateTime-DropDownCalendar {
  border: 1px rgb( 167, 166, 170 );
}
