/* DateTime default theme */

DateTime {
  border: none;
  background-color: white;
  color: black;
}

DateTime[BORDER] {
  border: 1px inset;
}

DateTime-Field:selected, DateTime-Calendar-Day:selected {
  background-color: rgb( 49, 106, 197 );
  color: white;
}

DateTime-Calendar-Day:otherMonth {
  background-color: transparent;
  color: rgb( 128, 128, 128 );
}

DateTime-Calendar-Navbar {
  background-color: rgb( 0, 128, 192 );
  color: white;
}

DateTime-Calendar-PreviousMonthButton {
  background-image: url( resource/widget/rap/calendar/lastMonth.gif );
}

DateTime-Calendar-NextMonthButton {
  background-image: url( resource/widget/rap/calendar/nextMonth.gif );
}

DateTime-Calendar-PreviousYearButton {
  background-image: url( resource/widget/rap/calendar/lastYear.gif );
}

DateTime-Calendar-NextYearButton {
  background-image: url( resource/widget/rap/calendar/nextYear.gif );
}

DateTime-UpButton {
  background-color: rgb( 248, 248, 255 );
  border: 2px outset;
  width: 15px;
  background-image: url( resource/widget/rap/datetime/up_button.gif );
}

DateTime-DownButton {
  background-color: rgb( 248, 248, 255 );
  border: 2px outset;
  width: 15px;
  background-image: url( resource/widget/rap/datetime/down_button.gif );
}

DateTime-UpButton:pressed, DateTime-DownButton:pressed {
  border: 2px inset;
}