/* Spinner default theme */

Spinner {
  border: none;
  padding: 1px 2px;
  color: #464a4e;
  background-color: rgb( 252, 252, 252 );
}

Spinner-Field {
  padding: 2px 3px;
}

Spinner[BORDER] {
  border: 1px solid #a4a4a4;
  border-radius: 2px 2px 2px 2px;
}

Spinner-UpButton {
  background-color: transparent;
  background-image: gradient(
    linear, left top, left bottom,
    from( #ffffff ),
    to( #e0e0e0 )
  );
  width: 18px;
  border: none;
  border-radius: 0px 2px 0px 0px;
  cursor: default;
}

Spinner-UpButton:pressed {
  background-image: gradient(
    linear, left top, left bottom,
    from( #ffffff ),
    color-stop( 52%, #e0e0e0 ),
    to( #b0b0b0 )
  );
}

Spinner-UpButton-Icon {
  background-image: url( resource/widget/rap/spinner/up.png );
}

Spinner-UpButton-Icon:hover {
  background-image: url( resource/widget/rap/spinner/up-hover.png );
}

Spinner-DownButton {
  background-color: transparent;
  background-image: gradient(
    linear, left top, left bottom,
    from( #e0e0e0 ),
    to( #ffffff )
  );
  width: 18px;
  border: none;
  border-radius: 0px 0px 2px 0px;
  cursor: default;
}

Spinner-DownButton:pressed {
  background-image: gradient(
    linear, left top, left bottom,
    from( #b0b0b0 ),
    color-stop( 52%, #e0e0e0 ),
    to( #ffffff )
  );
}

Spinner-DownButton-Icon {
  background-image: url( resource/widget/rap/spinner/down.png );
}

Spinner-DownButton-Icon:hover {
  background-image: url( resource/widget/rap/spinner/down-hover.png );
}
