/* Spinner default theme */

Spinner {
  border: none;
  color: black;
  background-color: white;
  padding: 2px 3px;
}

Spinner[BORDER] {
  border: 1px inset;
}

Spinner-UpButton {
  background-image: url( resource/widget/rap/spinner/up_button.gif );
}

Spinner-DownButton {
  background-image: url( resource/widget/rap/spinner/down_button.gif );
}