/* CLabel default theme */

CLabel {
  color: black;
  background-color: rgb( 248, 248, 255 );
  background-image: none;
  border: none;
  padding: 3px;
  spacing: 5px;
  cursor: default;
}

CLabel[BORDER] {
  border: 1px inset;
}
