/* Text default theme */

Text {
  border: none;
  background-color: white;
  color: black;
  padding: 2px 3px;
}

Text[BORDER] {
  border: 1px inset;
}

Text[SINGLE] {
  /* padding: 2px 3px; */
}

Text[MULTI] {
  /* padding: 0px 0px 0px 3px; */
}

Text[MULTI][BORDER] {
  /* padding: 0px 0px 0px 4px; */
}