/* ToolBar default theme */

ToolBar {
  color: black;
  padding: 0px;
  spacing: 0px;
  background-color: rgb( 248, 248, 255 );
  background-image: none;
  border: none;
  opacity: 1;
}

ToolBar[BORDER] {
  border: 1px outset;
}

ToolItem {
  color: inherit;
  background-color: transparent;
  background-image: none;
  border: 1px outset;
  border-radius: 0px;
  padding: 2px 3px;
  spacing: 4px;
  opacity: 1;
}

ToolItem[FLAT] {
  border: none;
  padding: 3px 4px;
}

ToolItem:hover {
  background-color: white;
  border: 1px outset;
  padding: 2px 3px;
}

ToolItem:pressed, ToolItem:selected {
  border: 1px inset;
  padding: 3px 2px 1px 4px;
}

ToolItem-DropDownIcon {
  background-image: url( resource/widget/rap/arrows/down.gif );
  border: none;
}

ToolItem-DropDownIcon:hover {
  border: 1px inset;
}

ToolItem-Separator {
  width: 4px;
}
