/* Slider default theme */

Slider {
  background-color: #F0F0F8;
}

Slider-Thumb {
  background-color: #F8F8FF;
  border: 1px outset;
}

Slider-DownButton {
  background-color: #F8F8FF;
  border: 1px outset;
  background-image: none;
}

Slider-DownButton:horizontal {
  background-image: url( resource/widget/rap/slider/h_btn_min.gif );
}

Slider-DownButton:vertical {
  background-image: url( resource/widget/rap/slider/v_btn_min.gif );
}

Slider-UpButton {
  background-color: #F8F8FF;
  border: 1px outset;
  background-image: none;
}

Slider-UpButton:horizontal {
  background-image: url( resource/widget/rap/slider/h_btn_max.gif );
}

Slider-UpButton:vertical {
  background-image: url( resource/widget/rap/slider/v_btn_max.gif );
}