/* Slider default theme */

Slider {
  background-color: #F0F0F8;
  border: none;
}

Slider-Thumb {
  background-color: #F8F8FF;
  border: 1px outset;
}

Slider-DownButton, Slider-UpButton {
  background-color: #F8F8FF;
  border: 1px outset;
  background-image: none;
  cursor: default;
}

Slider-DownButton:horizontal {
  /* 
  For backward compatibility we have to keep the down button icon
  definition in Slider-DownButton and not in Slider-DownButton-Icon
  */
  background-image: url( resource/widget/rap/slider/h_btn_min.gif );
}

Slider-DownButton:vertical {
  /* 
  For backward compatibility we have to keep the down button icon
  definition in Slider-DownButton and not in Slider-DownButton-Icon
  */
  background-image: url( resource/widget/rap/slider/v_btn_min.gif );
}

Slider-UpButton:horizontal {
  /* 
  For backward compatibility we have to keep the up button icon
  definition in Slider-UpButton and not in Slider-UpButton-Icon
  */
  background-image: url( resource/widget/rap/slider/h_btn_max.gif );
}

Slider-UpButton:vertical {
  /* 
  For backward compatibility we have to keep the up button icon
  definition in Slider-UpButton and not in Slider-UpButton-Icon
  */
  background-image: url( resource/widget/rap/slider/v_btn_max.gif );
}

Slider-DownButton-Icon, Slider-UpButton-Icon {
  background-image: none;
}