*, DateTime {
  font: 14px Helvetica, Verdana, sans-serif;
}

*:disabled, Combo:disabled, Text:disabled, Combo[BORDER]:disabled {
  color: #afafaf;
}

.mainshell {
  background-color: #a8a8a8;
}

.header {
  background-image: gradient(
    linear, left top, left bottom,
    from( #e8e8e8 ),
    to( #bababa )
  );
}

Composite.sidebar {
  background-color: transparent;
}

Button[TOGGLE].sidebar {
  background-color: transparent;
  background-image: none;
  color: white;
  font: bold 18px Helvetica, Verdana, sans-serif;
  border-radius: 5px;
  border: none;
  padding: 5px 12px;
  text-shadow: none;
}

Button[TOGGLE].sidebar:selected {
  background-color: #6d6d6d;
  background-image: none;
  color: white;
  padding: 5px 12px;
  font: bold 18px Helvetica, Verdana, sans-serif;
}

Button[TOGGLE].sidebar:hover {
  background-color: white;
  background-image: none;
  color: gray;
  padding: 5px 12px;
  font: bold 18px Helvetica, Verdana, sans-serif;
  animation: none;
}

Button-FocusIndicator[TOGGLE].sidebar {
  border: none;
}

.mainarea {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.statusarea {
  background-color: transparent;
  color: white;
  padding: 0 10px;
}

Group {
  font: 18px Helvelica, Verdana, sans-serif;
  background-color: white;
}

Group-Frame {
  border: none;
}

Button[PUSH], Button[TOGGLE] {
  padding: 4px 6px;
}
