/* Label default theme */

Label {
  color: black;
  background-color: rgb( 248, 248, 255 );
  border: none;
  text-decoration: none;
}

Label:hover {
  color: black;
  background-color: rgb( 248, 248, 255 );
}

Label[BORDER] {
  border: 1px inset;
}
