/* Label default theme */

Label {
  color: #4a4a4a;
  background-color: white;
  background-image: none;
  border: none;
  text-decoration: none;
  cursor: default;
  opacity: 1;
}

Label:hover {
  color: black;
  background-color: rgb( 248, 248, 255 );
}

Label[BORDER] {
  border: 1px inset;
}
