/* Label default theme */

Label {
  color: #4a4a4a;
  background-color: white;
  background-image: none;
  border: none;
  text-decoration: none;
  cursor: default;
  opacity: 1;
}

Label[BORDER] {
  border: 1px inset;
}

Label-SeparatorLine {
  background-image: none;
  background-color: transparent;
  border: 1px solid #a4a4a4;
  border-radius: 0px;
  width: 2px;
}

Label-SeparatorLine[SHADOW_IN] {  
  border: 1px inset;
}

Label-SeparatorLine[SHADOW_OUT] {
  border: 1px outset;
}
