/* Menu default theme */

Menu {
  color: black;
  background-color: rgb( 248, 248, 255 );
  border: 2px outset;
  padding: 1px;
}

MenuItem {
  color: black;
  background-color: transparent;
}

MenuItem:hover {
  color: white;
  background-color: rgb( 49, 106, 197 );
}

MenuItem-CheckIcon {
  background-image: url( resource/widget/rap/menu/checkbox.gif );
}

MenuItem-RadioIcon {
  background-image: url( resource/widget/rap/menu/radiobutton.gif );
}

MenuItem-CascadeIcon {
  background-image: url( resource/widget/rap/arrows/next.gif );
}
