/* CTabFolder default theme */

CTabFolder {
  border-color: #c0c0c0;
  border-radius: 0px;
}

CTabItem {
  font: 11px 'Segoe UI', Corbel, Calibri, Tahoma, 'Lucida Sans Unicode', sans-serif;
  color: black;
  background-color: rgb( 248, 248, 255 );
  background-image: none;
  padding: 2px 4px;
  spacing: 4px;
}

CTabItem:selected {
  color: black;
  background-color: rgb( 217, 227, 243 );
}

/* Do not gray out disabled CTabItems, this is SWT behavior */
CTabItem:disabled {
  color: black;
}

CTabFolder-DropDownButton-Icon {
  background-image: url( resource/widget/rap/ctabfolder/chevron.gif );
}
