/* CTabFolder default theme */

CTabFolder {
  border-color: #A4A4A4;
  border-radius: 2px;
}

CTabItem {
  font: 12px Verdana, "Lucida Sans", Arial, Helvetica, sans-serif;
  color: #4a4a4a;
  background-color: white;
  background-image: none;
  padding: 2px 4px;
  spacing: 4px;
}

CTabItem:selected {
  color: white;
  background-color: #00589f;
}

/* Do not gray out disabled CTabItems, this is SWT behavior */
CTabItem:disabled {
  color: black;
}

CTabFolder-DropDownButton-Icon {
  background-image: url( resource/widget/rap/ctabfolder/ctabfolder-dropdown.png );
}

CTabFolder-DropDownButton-Icon:hover {
  background-image: url( resource/widget/rap/ctabfolder/ctabfolder-dropdown-hover.png );
}
