/* Group default theme */

Group {
  color: #4a4a4a;
  background-color: white;  
}

Group-Frame {
  margin: 8px 0px 0px;
  padding: 8px 2px 2px;
  border: 1px solid #cccccc;
  border-radius: 2px 2px 2px 2px;
}

Group-Label {
  padding: 0px 3px 0px 4px;
  font: 11px Verdana, "Lucida Sans", Arial, Helvetica, sans-serif;
  background-color: transparent;
  border: none;
  color: #464a4e;
  margin: 1px 10px;
}