/* Group default theme */

Group {
  background-color: rgb( 248, 248, 255 );
  margin: 8px 0px 0px;
  padding: 8px 2px 2px;
}

Group-Frame {
  border: 1px solid #ACA899;  
}

Group-Label {
  margin: 1px 10px;
  padding: 0px 3px 0px 4px;
  font: 11px 'Segoe UI', Corbel, Calibri, Tahoma, 'Lucida Sans Unicode', sans-serif;
}