<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension
        id="org.eclipse.rap.demo.demoentrypoint"
        point="org.eclipse.rap.ui.workbench.entrypoint">
     <entrypoint
           class="org.eclipse.rap.demo.EntryPoint"
           parameter="default"/>
  </extension>
</plugin>
