<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <extension
      id="org.eclipse.rap.demo.demoentrypoint"
      point="org.eclipse.rap.ui.workbench.entrypoint">
    <entrypoint
        class="org.eclipse.rap.demo.DemoWorkbench"
        parameter="default"/>
    <entrypoint
        class="org.eclipse.rap.demo.RWTDemo"
        parameter="rwtdemo"/>
    <entrypoint
        class="org.eclipse.rap.demo.controls.LayoutDemo"
        parameter="layout"/>
    <entrypoint
        class="org.eclipse.rap.demo.controls.ControlsDemo"
        parameter="controls"/>
  </extension>
  
  <extension
        point="org.eclipse.ui.perspectives">
     <perspective
           class="org.eclipse.rap.demo.Perspective"
           icon="icons/search.gif"
           id="org.eclipse.rap.demo.perspective"
           name="Demo"/>
     <perspective
           class="org.eclipse.rap.demo.PlanningPerspective"
           icon="icons/contact.gif"
           id="org.eclipse.rap.demo.perspective.planning"
           name="Planning">
     </perspective>
  </extension> 
  
  <extension point="org.eclipse.ui.views"> 
      <view
            category="one"
            class="org.eclipse.rap.demo.DemoTreeViewPart"
            icon="icons/contact.gif"
            id="org.eclipse.rap.demo.DemoTreeViewPartI"
            name="View I"/> 
      <view
            category="one"
            class="org.eclipse.rap.demo.DemoTreeViewPart"
            icon="icons/info.gif"
            id="org.eclipse.rap.demo.DemoTreeViewPartII"
            name="View II"/> 
      <view
            category="one"
            class="org.eclipse.rap.demo.DemoTreeViewPart"
            icon="icons/login.gif"
            id="org.eclipse.rap.demo.DemoTreeViewPartIII"
            name="View III"/> 
      <view
            category="two"
            class="org.eclipse.rap.demo.DemoTreeViewPart"
            icon="icons/register.gif"
            id="org.eclipse.rap.demo.DemoTreeViewPartIV"
            name="View V"/> 
      <view
            category="two"
            class="org.eclipse.rap.demo.DemoTableViewPart"
            icon="icons/search.gif"
            id="org.eclipse.rap.demo.DemoTableViewPart"
            name="View IV"/> 
      <view
            category="two"
            class="org.eclipse.rap.demo.DemoSelectionViewPart"
            icon="icons/status.gif"
            id="org.eclipse.rap.demo.DemoSelectionViewPart"
            name="Selection View"/> 
      <view
            allowMultiple="true"
            category="two"
            class="org.eclipse.rap.demo.DemoBrowserViewPart"
            icon="icons/internal_browser.gif"
            id="org.eclipse.rap.demo.DemoBrowserViewPart"
            name="Browser"/>
      <category
            id="one"
            name="Category 1"/>
      <category
            id="two"
            name="Category 2"/>
   </extension>
  <extension
        point="org.eclipse.ui.viewActions">
     <viewContribution
           id="org.eclipse.rap.demo.viewContribution2"
           targetID="org.eclipse.rap.demo.DemoTreeViewPartIII">
        <action
              class="org.eclipse.rap.demo.DemoTreeViewActionDelegate"
              enablesFor="*"
              icon="icons/ttt.gif"
              id="org.eclipse.rap.demo.filterAction"
              label="Filter all leafs"
              state="false"
              style="toggle"
              toolbarPath="filter"
              tooltip="Filter all leafs">
        </action>
     </viewContribution>
  </extension>
  <extension
        point="org.eclipse.ui.actionSets">
     <actionSet
           id="org.eclipse.rap.demo.actionSet"
           label="Sample Action Set"
           visible="false">
        <menu
              id="sampleMenu"
              label="Sample &amp;Menu">
           <separator
                 name="sampleGroup">
           </separator>
        </menu>
        <action
              class="org.eclipse.rap.demo.actions.SampleAction"
              icon="icons/sample.gif"
              id="org.eclipse.rap.demo.actions.SampleAction"
              label="&amp;Sample Action"
              menubarPath="sampleMenu/sampleGroup"
              toolbarPath="sampleGroup"
              tooltip="Hello, Eclipse world">
        </action>
     </actionSet>
  </extension>
  <extension
        point="org.eclipse.ui.perspectiveExtensions">
     <perspectiveExtension
           targetID="org.eclipse.rap.demo.perspective.planning">
        <actionSet
              id="org.eclipse.rap.demo.actionSet">
        </actionSet>
     </perspectiveExtension>
  </extension>
  
</plugin>
