/* CCombo default theme */

CCombo {
  background-color: white;
  color: black;
  border: none;
}

CCombo[BORDER] {
  border: 1px inset;
}

CCombo-Button {
  background-image: url( resource/widget/rap/combo/down_button.gif );
  background-color: rgb( 248, 248, 255 );
  border: 1px outset;
  width: 15px;
}

CCombo-Button[FLAT] {
  border: none;
}

CCombo-Button[FLAT]:hover {
  border: 1px outset;
}

CCombo-List {
  border: 1px rgb( 167, 166, 170 );
}