/* CCombo default theme */

CCombo {
  border: none;
}

CCombo[BORDER] {
  border: 2px inset;
}

CCombo-Button {
  border: 1px outset;
}

CCombo-Button[FLAT] {
  border: none;
}

CCombo-Button[FLAT]:hover {
  border: 1px outset;
}
