/* Tree default theme */

Tree {
  color: black;
  background-color: white;
  border: none;
}

Tree[BORDER] {
  border: 2px inset;
}

TreeItem {
  color: inherit;
  background-color: transparent;
}

TreeItem:selected {
  color: white;
  background-color: rgb( 49, 106, 197 );
}

TreeItem:selected:unfocused {
  color: white;
  background-color: rgb( 192, 192, 192 );  
}

TreeColumn {
  background-color: rgb( 248, 248, 255 );
  background-image: none;
  padding: 1px 2px;
  border-bottom: 2px solid rgb( 172, 168, 153 );
}

TreeColumn:hover {
  border-bottom: 2px solid rgb( 254, 200, 60 );
}

TreeColumn-SortIndicator {
  background-image: none;
}

TreeColumn-SortIndicator:up {
  background-image: url( resource/widget/rap/column/up.gif );
}

TreeColumn-SortIndicator:down {
  background-image: url( resource/widget/rap/column/down.gif );
}

Tree-Checkbox {
  background-image: url( resource/widget/rap/button/check-unselected.png );
}

Tree-Checkbox:hover {
  background-image: url( resource/widget/rap/button/check-unselected-hover.png );
}

Tree-Checkbox:checked {
  background-image: url( resource/widget/rap/button/check-selected.png );
}

Tree-Checkbox:checked:hover {
  background-image: url( resource/widget/rap/button/check-selected-hover.png );
}

Tree-Checkbox:checked:grayed {
  background-image: url( resource/widget/rap/button/check-grayed.png );
}

Tree-Checkbox:checked:grayed:hover {
  background-image: url( resource/widget/rap/button/check-grayed-hover.png );
}

Tree-Indent {
  width: 16px;
  background-image: url( resource/widget/rap/tree/cross.gif );
}

Tree-Indent:collapsed {
  background-image: url( resource/widget/rap/tree/cross_plus.gif );
}

Tree-Indent:expanded {
  background-image: url( resource/widget/rap/tree/cross_minus.gif );
}

Tree-Indent:line {
  background-image: url( resource/widget/rap/tree/line.gif );
}

Tree-Indent:first {
  background-image: url( resource/widget/rap/tree/start.gif );
}

Tree-Indent:first:collapsed {
  background-image: url( resource/widget/rap/tree/start_plus.gif );
}

Tree-Indent:first:expanded {
  background-image: url( resource/widget/rap/tree/start_minus.gif );
}

Tree-Indent:last {
  background-image: url( resource/widget/rap/tree/end.gif );
}

Tree-Indent:last:collapsed {
  background-image: url( resource/widget/rap/tree/end_plus.gif );
}

Tree-Indent:last:expanded {
  background-image: url( resource/widget/rap/tree/end_minus.gif );
}

Tree-Indent:first:last {
  background-image: url( resource/widget/rap/tree/single.gif );
}

Tree-Indent:first:last:collapsed {
  background-image: url( resource/widget/rap/tree/single_plus.gif );
}

Tree-Indent:first:last:expanded {
  background-image: url( resource/widget/rap/tree/single_minus.gif );
}