/* Tree default theme */

Tree {
  color: black;
  background-color: white;
}

TreeItem {
  color: black;
  background-color: white;  
}

TreeItem:selected {
  color: white;
  background-color: rgb( 49, 106, 197 );
}

TreeItem:selected:unfocused {
  color: white;
  background-color: rgb( 192, 192, 192 );  
}

TreeColumn {
  background-color: rgb( 248, 248, 255 );
  background-image: none;
}

TreeColumn:hover {
  background-color: rgb( 248, 248, 255 );
}

TreeColumn-SortIndicator {
  background-image: none;
}

TreeColumn-SortIndicator:up {
  background-image: url( resource/widget/rap/column/up.gif );
}

TreeColumn-SortIndicator:down {
  background-image: url( resource/widget/rap/column/down.gif );
}

Tree-Checkbox {
  background-image: url( resource/widget/rap/button/check-unselected.png );
}

Tree-Checkbox:hover {
  background-image: url( resource/widget/rap/button/check-unselected-hover.png );
}

Tree-Checkbox:checked {
  background-image: url( resource/widget/rap/button/check-selected.png );
}

Tree-Checkbox:checked:hover {
  background-image: url( resource/widget/rap/button/check-selected-hover.png );
}

Tree-Checkbox:grayed {
  background-image: url( resource/widget/rap/button/check-grayed.png );
}

Tree-Checkbox:grayed:hover {
  background-image: url( resource/widget/rap/button/check-grayed-hover.png );
}
