<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.rap.ui.launch.RAPLauncher">
    <booleanAttribute key="append.args" value="true"/>
    <booleanAttribute key="askclear" value="false"/>
    <booleanAttribute key="automaticAdd" value="false"/>
    <booleanAttribute key="automaticValidate" value="false"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="false"/>
    <booleanAttribute key="clearws" value="false"/>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/RAP Workbench Demo (Business)"/>
    <booleanAttribute key="default" value="true"/>
    <booleanAttribute key="default_auto_start" value="true"/>
    <intAttribute key="default_start_level" value="4"/>
    <setAttribute key="deselected_workspace_bundles"/>
    <booleanAttribute key="includeOptional" value="true"/>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-17"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -console -consolelog"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dosgi.noShutdown=true -Declipse.ignoreApp=true&#13;&#10;-Dorg.eclipse.equinox.http.jetty.log.stderr.threshold=info"/>
    <stringAttribute key="org.eclipse.rap.launch.browserMode" value="INTERNAL"/>
    <stringAttribute key="org.eclipse.rap.launch.contextpath" value="/workbench"/>
    <stringAttribute key="org.eclipse.rap.launch.dataLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.rap.tools.launch/RAPWorkbenchDemo(Business)"/>
    <booleanAttribute key="org.eclipse.rap.launch.developmentMode" value="true"/>
    <booleanAttribute key="org.eclipse.rap.launch.openBrowser" value="true"/>
    <intAttribute key="org.eclipse.rap.launch.port" value="8080"/>
    <stringAttribute key="org.eclipse.rap.launch.servletPath" value="/business"/>
    <intAttribute key="org.eclipse.rap.launch.sessionTimeout" value="1000"/>
    <booleanAttribute key="org.eclipse.rap.launch.terminatePrevious" value="true"/>
    <booleanAttribute key="org.eclipse.rap.launch.useDefaultDataLocation" value="true"/>
    <booleanAttribute key="org.eclipse.rap.launch.useManualContextPath" value="true"/>
    <booleanAttribute key="org.eclipse.rap.launch.useManualPort" value="false"/>
    <booleanAttribute key="org.eclipse.rap.launch.useSessionTimeout" value="false"/>
    <stringAttribute key="pde.version" value="3.3"/>
    <setAttribute key="selected_target_bundles">
        <setEntry value="com.ibm.icu@default:default"/>
        <setEntry value="jakarta.servlet-api@default:default"/>
        <setEntry value="org.apache.aries.spifly.dynamic.bundle@default:default"/>
        <setEntry value="org.apache.felix.gogo.command@default:default"/>
        <setEntry value="org.apache.felix.gogo.runtime@default:default"/>
        <setEntry value="org.apache.felix.gogo.shell@default:default"/>
        <setEntry value="org.eclipse.core.commands@default:default"/>
        <setEntry value="org.eclipse.core.contenttype@default:default"/>
        <setEntry value="org.eclipse.core.databinding.beans@default:default"/>
        <setEntry value="org.eclipse.core.databinding.observable@default:default"/>
        <setEntry value="org.eclipse.core.databinding.property@default:default"/>
        <setEntry value="org.eclipse.core.databinding@default:default"/>
        <setEntry value="org.eclipse.core.expressions@default:default"/>
        <setEntry value="org.eclipse.core.jobs@default:default"/>
        <setEntry value="org.eclipse.core.runtime@default:true"/>
        <setEntry value="org.eclipse.equinox.app@default:default"/>
        <setEntry value="org.eclipse.equinox.common@2:true"/>
        <setEntry value="org.eclipse.equinox.console@default:default"/>
        <setEntry value="org.eclipse.equinox.preferences@default:default"/>
        <setEntry value="org.eclipse.equinox.registry@default:default"/>
        <setEntry value="org.eclipse.help@default:default"/>
        <setEntry value="org.eclipse.jetty.ee10.servlet@default:default"/>
        <setEntry value="org.eclipse.jetty.http@default:default"/>
        <setEntry value="org.eclipse.jetty.io@default:default"/>
        <setEntry value="org.eclipse.jetty.security@default:default"/>
        <setEntry value="org.eclipse.jetty.server@default:default"/>
        <setEntry value="org.eclipse.jetty.session@default:default"/>
        <setEntry value="org.eclipse.jetty.util.ajax@default:default"/>
        <setEntry value="org.eclipse.jetty.util@default:default"/>
        <setEntry value="org.eclipse.osgi.util@default:default"/>
        <setEntry value="org.eclipse.osgi@1:true"/>
        <setEntry value="org.eclipse.rap.design.example@default:default"/>
        <setEntry value="org.eclipse.rap.http.jetty@default:default"/>
        <setEntry value="org.eclipse.rap.http.registry@default:default"/>
        <setEntry value="org.eclipse.rap.http.servlet@default:default"/>
        <setEntry value="org.eclipse.rap.jface.databinding@default:default"/>
        <setEntry value="org.eclipse.rap.jface@default:default"/>
        <setEntry value="org.eclipse.rap.rwt.osgi@default:default"/>
        <setEntry value="org.eclipse.rap.rwt@default:default"/>
        <setEntry value="org.eclipse.rap.ui.forms@default:default"/>
        <setEntry value="org.eclipse.rap.ui.views@default:default"/>
        <setEntry value="org.eclipse.rap.ui.workbench@default:default"/>
        <setEntry value="org.eclipse.rap.ui@default:default"/>
        <setEntry value="org.objectweb.asm.commons@default:default"/>
        <setEntry value="org.objectweb.asm.tree.analysis@default:default"/>
        <setEntry value="org.objectweb.asm.tree@default:default"/>
        <setEntry value="org.objectweb.asm.util@default:default"/>
        <setEntry value="org.objectweb.asm@default:default"/>
        <setEntry value="org.osgi.service.cm@default:default"/>
        <setEntry value="org.osgi.service.component@default:default"/>
        <setEntry value="org.osgi.service.device@default:default"/>
        <setEntry value="org.osgi.service.event@default:default"/>
        <setEntry value="org.osgi.service.metatype@default:default"/>
        <setEntry value="org.osgi.service.prefs@default:default"/>
        <setEntry value="org.osgi.service.provisioning@default:default"/>
        <setEntry value="org.osgi.service.upnp@default:default"/>
        <setEntry value="org.osgi.service.useradmin@default:default"/>
        <setEntry value="org.osgi.service.wireadmin@default:default"/>
        <setEntry value="org.osgi.util.function@default:default"/>
        <setEntry value="org.osgi.util.measurement@default:default"/>
        <setEntry value="org.osgi.util.position@default:default"/>
        <setEntry value="org.osgi.util.promise@default:default"/>
        <setEntry value="org.osgi.util.xml@default:default"/>
        <setEntry value="slf4j.api@default:default"/>
        <setEntry value="slf4j.nop@default:default"/>
    </setAttribute>
    <setAttribute key="selected_workspace_bundles">
        <setEntry value="org.eclipse.rap.demo@default:default"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="true"/>
    <booleanAttribute key="tracing" value="false"/>
    <booleanAttribute key="useCustomFeatures" value="false"/>
    <booleanAttribute key="useDefaultConfigArea" value="true"/>
</launchConfiguration>
