/* ProgressBar default theme */

ProgressBar {
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #A4A4A4;
  border-radius: 2px;
}

ProgressBar-Indicator {
  background-color: #00589f;
  background-image: none;
  border: none;
  opacity: 1;
}

ProgressBar-Indicator:paused {
  background-color: #ebebeb;
}

ProgressBar-Indicator:error {
  background-color: rgb( 203, 32, 32 );
}