/* Combo default theme */

Combo {
  background-color: white;
  color: black;
  border: 2px inset;
}

Combo-Button {
  background-image: url( resource/widget/rap/combo/down_button.gif );
  background-color: rgb( 248, 248, 255 );
  border: 1px outset;
  width: 15px;
}

Combo-List {
  border: 1px rgb( 167, 166, 170 );
}
