/* TabFolder default theme */

TabItem {
  background-color: white;
  border-top-color: white;
  border-bottom-color: white;
  background-image: none;
}

TabItem:selected {
  background-color: white;
  border-top-color: #00589f;
  border-bottom-color: #00589f;
  background-image: none;
}

TabItem:hover {
  background-color: #dae9f7;
  background-image: none;
}