/* Default theme for all composites */

Composite {
  border: none;
  /* A background image is always needed for IE to handle 
     the mouse events - see bug 299629 */	
  background-image: url( resource/static/image/blank.gif );
  padding: 0px;
}
