
/* Test values for Business theme */

Button[PUSH] {
  font: 12px Verdana, "Lucida Sans", Arial, Helvetica, sans-serif;
  background-color: white;
  border: 1px solid #a4a4a4;
  border-radius: 3px;
  padding: 2px 5px 2px 5px;
  color: #4a4a4a;
  background-image: gradient(
    linear, left top, left bottom,
    from( #ffffff ),
    color-stop( 48%, #f0f0f0 ),
    color-stop( 52%, #e0e0e0 ),
    to( #ffffff )
  );
  cursor: pointer;
}

Button[TOGGLE] {
  border: 1px solid #a4a4a4;
  border-radius: 3px;
  background-image: gradient(
    linear, left top, left bottom,
    from( #ffffff ),
    color-stop( 48%, #f0f0f0 ),
    color-stop( 52%, #e0e0e0 ),
    to( #ffffff )
  );
  cursor: pointer;
}

Button[BORDER] {
  border: 1px solid #a4a4a4;
  border-radius: 3px;
  background-image: gradient(
    linear, left top, left bottom,
    from( #ffffff ),
    color-stop( 48%, #f0f0f0 ),
    color-stop( 52%, #e0e0e0 ),
    to( #ffffff )
  );
}

Button[TOGGLE]:selected {
  background-image: gradient(
    linear, left top, left bottom,
    from( #e0e0e0 ),
    color-stop( 30%, #f0f0f0 ),
    color-stop( 70%, #e0e0e0 ),
    to( #b0b0b0 )
  );
}

Button[TOGGLE]:selected:hover {
  background-image: gradient(
    linear, left top, left bottom,
    from( #e0e0e0 ),
    color-stop( 52%, #e0e0e0 ),
    to( #b0b0b0 )
  );
}

Button[PUSH]:hover,
Button[TOGGLE]:hover {
  background-image: gradient(
    linear, left top, left bottom,
    from( #ffffff ),
    color-stop( 48%, #f0f0f0 ),
    color-stop( 52%, #e0e0e0 ),
    to( #cccccc )
  );
}

Button[PUSH]:pressed,
Button[TOGGLE]:pressed {
  background-image: gradient(
    linear, left top, left bottom,
    from( #e0e0e0 ),
    color-stop( 52%, #e0e0e0 ),
    to( #b0b0b0 )
  );
}

Button[RADIO][BORDER],
Button[CHECK][BORDER] {
  background-image: none;
}

Button-CheckIcon[CHECK] {
  background-image: url( "theme/business/icons/check-unselected.png" );
}
Button-CheckIcon[CHECK]:selected {
  background-image: url( "theme/business/icons/check-selected.png" );
}
Button-CheckIcon[CHECK]:hover {
  background-image: url( "theme/business/icons/check-unselected-hover.png" );
}
Button-CheckIcon[CHECK]:selected:hover {
  background-image: url( "theme/business/icons/check-selected-hover.png" );
}
Button-CheckIcon[CHECK]:selected:grayed {
  background-image: url( "theme/business/icons/check-grayed.png" );
}
Button-CheckIcon[CHECK]:selected:grayed:hover {
  background-image: url( "theme/business/icons/check-grayed-hover.png" );
}

Button-RadioIcon[RADIO] {
  background-image: url( "theme/business/icons/radio-unselected.png" );
}
Button-RadioIcon[RADIO]:selected {
  background-image: url( "theme/business/icons/radio-selected.png" );
}
Button-RadioIcon[RADIO]:hover {
  background-image: url( "theme/business/icons/radio-unselected-hover.png" );
}
Button-RadioIcon[RADIO]:selected:hover {
  background-image: url( "theme/business/icons/radio-selected-hover.png" );
}

Button[PUSH]:disabled,
Button[TOGGLE]:disabled {
  cursor: default;
}

Button[PUSH]:pressed,
Button[TOGGLE]:pressed {
  padding: 4px 5px 2px 7px;
}

Button-FocusIndicator[PUSH],
Button-FocusIndicator[TOGGLE] {
  background-color: transparent;
  border: 1px dotted #b8b8b8;
  margin: 2px;
  padding: 0px;
  opacity: 1.0;
}

Button-FocusIndicator[RADIO],
Button-FocusIndicator[CHECK] {
  background-color: transparent;
  border: 1px dotted #b8b8b8;
  margin: 0px;
  padding: 2px 2px 2px 1px;
  opacity: 1.0;
}
