/* Shell */

Shell-Titlebar {
  color: white;
  background-image: gradient( linear, left top, left bottom,
                              from( #005fac ), to( #005092 ) );
  padding: 2px 5px 2px;
  margin: 0px;
  height: 22px;
  font: 12px Verdana, "Lucida Sans", Arial, Helvetica, sans-serif;
  border: none;
  border-radius: 3px 3px 0px 0px;
}

Shell-Titlebar:inactive {
  color: #aaaaaa;
  background-image: gradient( linear, left top, left bottom,
                              from( #595959 ), to( #4b4b4b ) );
}

Shell {
  background-color: white;
}

Shell-DisplayOverlay {
  animation: fadeIn 200ms linear, fadeOut 400ms ease-out;
  background-image: none;
  background-color: #808080;
  opacity: 0.2;
}

Shell[BORDER], Shell[TITLE] {
  background-color: white;
  border: 2px solid #005092;
  border-radius: 6px;
  padding: 5px;
}

Shell[BORDER]:inactive, Shell[TITLE]:inactive {
  border: 2px solid #4b4b4b;
}

Shell-CloseButton {
  background-image: url( "theme/business/icons/shell-close.png" );
  margin: 0px 5px 0px 0px;
}

Shell-MaxButton {
  background-image: url( "theme/business/icons/shell-max.png" );
  margin: 0px 6px 0px 0px;
}

Shell-MinButton {
  background-image: url( "theme/business/icons/shell-min.png" );
  margin: 0px 6px 0px 0px;
}

Shell-CloseButton:hover {
  background-image: url( "theme/business/icons/shell-close-hover.png" );
}

Shell-MaxButton:hover {
  background-image: url( "theme/business/icons/shell-max-hover.png" );
}

Shell-MinButton:hover {
  background-image: url( "theme/business/icons/shell-min-hover.png" );
}
