/* Table */

Table {
  color: #4a4a4a;
  background-color: #ffffff;
}

TableColumn {
  background-image: url( "theme/business/icons/table-column.png" );
  color: #666666;
  font: 12px Verdana, "Lucida Sans", Arial, Helvetica, sans-serif;
  border-bottom:none;
}

TableColumn:hover {
  background-image: url( "theme/business/icons/table-column-hover.png" );
  border-bottom:none;
}

Table-Cell {
  spacing: 3px;
  padding: 5px;
}

TableItem {
  background-color: transparent;
  color: #666666;
}

TableItem:hover {
  background-color: #dae9f7;
}

TableItem:selected {
  background-color: #00589f;
  color: #ffffff;
}

TableItem:selected:unfocused {
  background-color: #959595;
  color: #ffffff;
}

TableItem:even {
  background-color: #f3f3f4;
}

TableItem:even:hover {
  background-color: #dae9f7;
}

TableItem:even:selected {
  background-color: #00589f;
  color: #ffffff;
}

TableItem:even:selected:unfocused {
  background-color: #959595;
  color: #ffffff;
}

Table-GridLine {
  color: #dedede;
}

Table-Checkbox {
  width: 21px;
  background-image: url( theme/business/icons/check-unselected.png );
}

Table-Checkbox:hover {
  background-image: url( theme/business/icons/check-unselected-hover.png );
}

Table-Checkbox:checked {
  background-image: url( theme/business/icons/check-selected.png );
}

Table-Checkbox:checked:hover {
  background-image: url( theme/business/icons/check-selected-hover.png );
}

Table-Checkbox:checked:grayed {
  background-image: url( theme/business/icons/check-grayed.png );
}

Table-Checkbox:checked:grayed:hover {
  background-image: url( theme/business/icons/check-grayed-hover.png );
}

TableColumn-SortIndicator:up {
  background-image: url( theme/business/icons/sort-indicator-up.png );
}

TableColumn-SortIndicator:down {
  background-image: url( theme/business/icons/sort-indicator-down.png );
}