/* Tree */

Tree {
  background-color: rgb( 255, 255, 255 );
  border: none;
  color: #4a4a4a;
}

TreeItem {
  background-color: transparent;
  color: inherit;
}

TreeItem:hover {
  background-color: #dae9f7;
}

TreeItem:selected {
  background-color: #00589f;
  color: #ffffff;
}

TreeItem:selected:unfocused {
  background-color: #959595;
  color: #ffffff;
}

TreeColumn {
  font: 12px Verdana, "Lucida Sans", Arial, Helvetica, sans-serif;
  border-bottom:none;
  padding: 1px 2px;
}

TreeColumn:hover {
  border-bottom: none;
}

TreeColumn-SortIndicator {
  background-image: none;
}

Tree-Cell {
  spacing: 3px;
  padding: 3px;
}

Tree-GridLine {
  color: #d0d0d0;
}

Tree-Checkbox {
  margin: 0px 2px 0px 0px;
}

Tree-Indent {
  width: 16px;
  background-image: none;
}

Tree-Indent:line {
  background-image: none;
}

Tree-Indent:first {
  background-image: none;
}

Tree-Indent:last {
  background-image: none;
}

Tree-Indent:first:last {
  background-image: none;
}

Tree-Indent {
  width: 16px;
  background-image: none;
}

Tree-Indent:line {
  background-image: none;
}

Tree-Indent:first {
  background-image: none;
}

Tree-Indent:last {
  background-image: none;
}

Tree-Indent:first:last {
  background-image: none;
}
