<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="org.eclipse.rap.examples.internal.Application"
            parameter="examples"
            id="org.eclipse.rap.examples.entryPoint">
      </entrypoint>
   </extension>

   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            id="org.eclipse.rap.examples.branding"
            defaultEntrypointId="org.eclipse.rap.examples.entryPoint"
            favicon="icons/favicon.png"
            servletName="examples"
            body="html/body.html"
            title="RAP Examples">
            <additionalHeaders>
              <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700">
              </link>
            </additionalHeaders>
      </branding>
   </extension>

   <extension
         point="org.eclipse.rap.ui.themes">
      <themeContribution
            file="theme/theme.css"
            themeId="org.eclipse.rap.rwt.theme.Default">
      </themeContribution>
   </extension>

   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/loading.gif"
            base-name="/html/loading.gif">
      </resource>
   </extension>

   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/"
            class="org.eclipse.rap.examples.internal.RedirectServlet">
      </servlet>
   </extension>

</plugin>
