<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.rap.ui.launch.RAPLauncher">
    <booleanAttribute key="append.args" value="true"/>
    <booleanAttribute key="askclear" value="false"/>
    <booleanAttribute key="automaticAdd" value="false"/>
    <booleanAttribute key="automaticValidate" value="true"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="true"/>
    <booleanAttribute key="clearws" value="true"/>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/RAP Examples Demo"/>
    <booleanAttribute key="default" value="true"/>
    <booleanAttribute key="default_auto_start" value="true"/>
    <intAttribute key="default_start_level" value="4"/>
    <setAttribute key="deselected_workspace_bundles"/>
    <booleanAttribute key="includeOptional" value="false"/>
    <listAttribute key="org.eclipse.debug.ui.favoriteGroups">
        <listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
        <listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -clean -console -consolelog"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Declipse.ignoreApp=true&#13;&#10;-Dosgi.noShutdown=true&#13;&#10;-Dorg.eclipse.equinox.http.jetty.log.stderr.threshold=info"/>
    <stringAttribute key="org.eclipse.rap.launch.browserMode" value="INTERNAL"/>
    <stringAttribute key="org.eclipse.rap.launch.contextpath" value="/examples"/>
    <stringAttribute key="org.eclipse.rap.launch.dataLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.rap.tools.launch/RAPExamplesDemo"/>
    <booleanAttribute key="org.eclipse.rap.launch.developmentMode" value="true"/>
    <booleanAttribute key="org.eclipse.rap.launch.openBrowser" value="true"/>
    <intAttribute key="org.eclipse.rap.launch.port" value="8080"/>
    <stringAttribute key="org.eclipse.rap.launch.servletPath" value="/"/>
    <intAttribute key="org.eclipse.rap.launch.sessionTimeout" value="1000"/>
    <booleanAttribute key="org.eclipse.rap.launch.terminatePrevious" value="true"/>
    <booleanAttribute key="org.eclipse.rap.launch.useDefaultDataLocation" value="true"/>
    <booleanAttribute key="org.eclipse.rap.launch.useManualContextPath" value="true"/>
    <booleanAttribute key="org.eclipse.rap.launch.useManualPort" value="false"/>
    <booleanAttribute key="org.eclipse.rap.launch.useSessionTimeout" value="false"/>
    <stringAttribute key="pde.version" value="3.3"/>
    <setAttribute key="selected_target_bundles">
        <setEntry value="com.ibm.icu"/>
        <setEntry value="jakarta.servlet-api"/>
        <setEntry value="org.apache.commons.commons-fileupload"/>
        <setEntry value="org.apache.commons.commons-io"/>
        <setEntry value="org.apache.felix.gogo.command"/>
        <setEntry value="org.apache.felix.gogo.runtime"/>
        <setEntry value="org.apache.felix.gogo.shell"/>
        <setEntry value="org.apache.felix.scr"/>
        <setEntry value="org.eclipse.core.commands"/>
        <setEntry value="org.eclipse.core.contenttype"/>
        <setEntry value="org.eclipse.core.databinding"/>
        <setEntry value="org.eclipse.core.databinding.beans"/>
        <setEntry value="org.eclipse.core.databinding.observable"/>
        <setEntry value="org.eclipse.core.databinding.property"/>
        <setEntry value="org.eclipse.core.expressions"/>
        <setEntry value="org.eclipse.core.jobs"/>
        <setEntry value="org.eclipse.core.runtime"/>
        <setEntry value="org.eclipse.equinox.app"/>
        <setEntry value="org.eclipse.equinox.common"/>
        <setEntry value="org.eclipse.equinox.console"/>
        <setEntry value="org.eclipse.equinox.http.jetty"/>
        <setEntry value="org.eclipse.equinox.http.servlet"/>
        <setEntry value="org.eclipse.equinox.preferences"/>
        <setEntry value="org.eclipse.equinox.registry"/>
        <setEntry value="org.eclipse.jetty.http"/>
        <setEntry value="org.eclipse.jetty.io"/>
        <setEntry value="org.eclipse.jetty.security"/>
        <setEntry value="org.eclipse.jetty.server"/>
        <setEntry value="org.eclipse.jetty.servlet"/>
        <setEntry value="org.eclipse.jetty.util"/>
        <setEntry value="org.eclipse.jetty.util.ajax"/>
        <setEntry value="org.eclipse.osgi"/>
        <setEntry value="org.eclipse.osgi.services"/>
        <setEntry value="org.eclipse.osgi.util"/>
        <setEntry value="org.eclipse.rap.filedialog"/>
        <setEntry value="org.eclipse.rap.fileupload"/>
        <setEntry value="org.eclipse.rap.jface"/>
        <setEntry value="org.eclipse.rap.jface.databinding"/>
        <setEntry value="org.eclipse.rap.nebula.widgets.grid"/>
        <setEntry value="org.eclipse.rap.nebula.widgets.richtext"/>
        <setEntry value="org.eclipse.rap.rwt"/>
        <setEntry value="org.eclipse.rap.rwt.osgi"/>
        <setEntry value="org.osgi.service.cm@default:default"/>
        <setEntry value="org.osgi.service.component@default:default"/>
        <setEntry value="org.osgi.service.device@default:default"/>
        <setEntry value="org.osgi.service.event@default:default"/>
        <setEntry value="org.osgi.service.metatype@default:default"/>
        <setEntry value="org.osgi.service.prefs@default:default"/>
        <setEntry value="org.osgi.service.provisioning@default:default"/>
        <setEntry value="org.osgi.service.upnp@default:default"/>
        <setEntry value="org.osgi.service.useradmin@default:default"/>
        <setEntry value="org.osgi.service.wireadmin@default:default"/>
        <setEntry value="org.osgi.util.function"/>
        <setEntry value="org.osgi.util.measurement"/>
        <setEntry value="org.osgi.util.position"/>
        <setEntry value="org.osgi.util.promise"/>
        <setEntry value="org.osgi.util.xml"/>
        <setEntry value="slf4j.api"/>
        <setEntry value="slf4j.nop"/>
    </setAttribute>
    <setAttribute key="selected_workspace_bundles">
        <setEntry value="org.eclipse.rap.examples"/>
        <setEntry value="org.eclipse.rap.examples.pages"/>
        <setEntry value="org.eclipse.rap.filedialog.demo.examples"/>
        <setEntry value="org.eclipse.rap.nebula.widgets.grid.demo.examples"/>
        <setEntry value="org.eclipse.rap.nebula.widgets.richtext.demo.examples"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="true"/>
    <booleanAttribute key="tracing" value="false"/>
    <booleanAttribute key="useCustomFeatures" value="false"/>
    <booleanAttribute key="useDefaultConfigArea" value="true"/>
</launchConfiguration>
