<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.EquinoxLauncher">
    <booleanAttribute key="append.args" value="true"/>
    <booleanAttribute key="automaticAdd" value="false"/>
    <booleanAttribute key="automaticValidate" value="true"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="true"/>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/RAP Client Tests"/>
    <booleanAttribute key="default" value="true"/>
    <booleanAttribute key="default_auto_start" value="true"/>
    <intAttribute key="default_start_level" value="4"/>
    <setAttribute key="deselected_workspace_bundles"/>
    <booleanAttribute key="includeOptional" value="false"/>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <listAttribute key="org.eclipse.debug.ui.favoriteGroups">
        <listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
        <listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consolelog -console -clean"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Declipse.ignoreApp=true -Dosgi.noShutdown=true&#13;&#10;-Dorg.osgi.service.http.port=8081&#13;&#10;-Dorg.eclipse.rap.rwt.developmentMode=true"/>
    <stringAttribute key="pde.version" value="3.3"/>
    <setAttribute key="selected_target_bundles">
        <setEntry value="jakarta.servlet-api"/>
        <setEntry value="org.apache.felix.gogo.command"/>
        <setEntry value="org.apache.felix.gogo.runtime"/>
        <setEntry value="org.apache.felix.gogo.shell"/>
        <setEntry value="org.apache.felix.scr"/>
        <setEntry value="org.eclipse.equinox.common"/>
        <setEntry value="org.eclipse.equinox.console"/>
        <setEntry value="org.eclipse.equinox.http.jetty"/>
        <setEntry value="org.eclipse.equinox.http.servlet"/>
        <setEntry value="org.eclipse.jetty.http"/>
        <setEntry value="org.eclipse.jetty.io"/>
        <setEntry value="org.eclipse.jetty.security"/>
        <setEntry value="org.eclipse.jetty.server"/>
        <setEntry value="org.eclipse.jetty.servlet"/>
        <setEntry value="org.eclipse.jetty.util"/>
        <setEntry value="org.eclipse.jetty.util.ajax"/>
        <setEntry value="org.eclipse.osgi"/>
        <setEntry value="org.eclipse.osgi.services"/>
        <setEntry value="org.eclipse.osgi.util"/>
        <setEntry value="org.osgi.service.cm"/>
        <setEntry value="org.osgi.service.component"/>
        <setEntry value="org.osgi.service.device"/>
        <setEntry value="org.osgi.service.event"/>
        <setEntry value="org.osgi.service.metatype"/>
        <setEntry value="org.osgi.service.prefs"/>
        <setEntry value="org.osgi.service.provisioning"/>
        <setEntry value="org.osgi.service.upnp"/>
        <setEntry value="org.osgi.service.useradmin"/>
        <setEntry value="org.osgi.service.wireadmin"/>
        <setEntry value="org.osgi.util.function"/>
        <setEntry value="org.osgi.util.measurement"/>
        <setEntry value="org.osgi.util.position"/>
        <setEntry value="org.osgi.util.promise"/>
        <setEntry value="org.osgi.util.xml"/>
        <setEntry value="slf4j.api"/>
        <setEntry value="slf4j.nop@default:default"/>
    </setAttribute>
    <setAttribute key="selected_workspace_bundles">
        <setEntry value="org.eclipse.rap.rwt"/>
        <setEntry value="org.eclipse.rap.rwt.jstest"/>
        <setEntry value="org.eclipse.rap.rwt.osgi"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="true"/>
    <booleanAttribute key="tracing" value="false"/>
    <booleanAttribute key="useCustomFeatures" value="false"/>
    <booleanAttribute key="useDefaultConfigArea" value="false"/>
</launchConfiguration>
