/* Table default theme */

Table {
  color: black;
  background-color: white;
}

TableItem {
  color: transparent;
  background-color: transparent;
}

TableItem:selected {
  color: white;
  background-color: rgb( 49, 106, 197 );
}

TableColumn {
  background-color: rgb( 248, 248, 255 );
}

TableColumn-SortIndicator {
  background-image: none;
}

TableColumn-SortIndicator:up {
  background-image: url( resource/widget/rap/column/up.gif );
}

TableColumn-SortIndicator:down {
  background-image: url( resource/widget/rap/column/down.gif );
}

Table-Cell {
  spacing: 2px;
  padding: 0px 2px;
}

Table-GridLine {
  color: #d0d0d0;
}

Table-Checkbox {
  width: 21px;
  background-image: url( resource/widget/rap/table/check_white_off.gif );
}

Table-Checkbox:grayed {
  background-image: url( resource/widget/rap/table/check_gray_off.gif );
}

Table-Checkbox:checked {
  background-image: url( resource/widget/rap/table/check_white_on.gif );
}

Table-Checkbox:checked:grayed {
  background-image: url( resource/widget/rap/table/check_gray_on.gif );
}
