/* Table default theme */

Table {
  color: black;
  background-color: white;
}

TableItem {
  color: white;
  background-color: rgb( 49, 106, 197 );
}

TableItem:selected {
  color: white;
  background-color: rgb( 49, 106, 197 );
}

TableColumn {
  background-color: rgb( 248, 248, 255 );
}

TableColumn-SortIndicator {
  background-image: none;
}

TableColumn-SortIndicator:up {
  background-image: url( resource/widget/rap/column/up.gif );
}

TableColumn-SortIndicator:down {
  background-image: url( resource/widget/rap/column/down.gif );
}

Table-Gridline {
  color: rgb( 238, 238, 238 );
}

Table-Checkbox {
  width: 21px;
  background-image: url( resource/widget/rap/table/check_white_off.gif );
}

Table-Checkbox:grayed {
  background-image: url( resource/widget/rap/table/check_gray_off.gif );
}

Table-Checkbox:checked {
  background-image: url( resource/widget/rap/table/check_white_on.gif );
}

Table-Checkbox:checked:grayed {
  background-image: url( resource/widget/rap/table/check_gray_on.gif );
}
