/* Table default theme */

Table {
  color: black;
  background-color: white;
}

TableItem {
  color: inherit;
  background-color: transparent;
}

TableItem:selected {
  color: white;
  background-color: rgb( 49, 106, 197 );
}

TableItem:selected:unfocused {
  background-color: rgb( 192, 192, 192 );
}

TableColumn {
  background-color: rgb( 248, 248, 255 );
  background-image: none;
}

TableColumn-SortIndicator {
  background-image: none;
}

TableColumn-SortIndicator:up {
  background-image: url( resource/widget/rap/column/up.gif );
}

TableColumn-SortIndicator:down {
  background-image: url( resource/widget/rap/column/down.gif );
}

Table-Cell {
  spacing: 2px;
  padding: 0px 2px;
}

Table-GridLine {
  color: #d0d0d0;
}

Table-Checkbox {
  width: 21px;
  background-image: url( resource/widget/rap/button/check-unselected.png );
}

Table-Checkbox:hover {
  background-image: url( resource/widget/rap/button/check-unselected-hover.png );
}

Table-Checkbox:checked {
  background-image: url( resource/widget/rap/button/check-selected.png );
}

Table-Checkbox:checked:hover {
  background-image: url( resource/widget/rap/button/check-selected-hover.png );
}

Table-Checkbox:checked:grayed {
  background-image: url( resource/widget/rap/button/check-grayed.png );
}

Table-Checkbox:checked:grayed:hover {
  background-image: url( resource/widget/rap/button/check-grayed-hover.png );
}
